:root {
  --clear-blue: #EFF9F2;
  --clear-dark-blue: rgb(200, 211, 204);
  --middle-blue: #739AB3;
  --middle-dark-blue: rgb(93, 125, 145);
  --dark-blue: #2F2F3A;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clear-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--middle-blue);
}

#upper {
  display: flex;
  flex-direction: row;
}

aside, header {
  text-align: center;
}

aside {
  background-color: var(--dark-blue);
  color: white;
  max-width: 416px;
}

#profile-picture {
  border-radius: 208px;
  width: 80%;
  margin-top: 2em;
}

.competence {
  padding: 0em 2em 0em 2em;
}

#contact-icons {
  display: flex;
  flex-wrap: wrap;
}

#contact-icons * {
  margin: auto;
  width: 50%;
  transition: 200ms;
}

#contact-icons a:hover {
  translate: -10px 10px;
}

#header_main {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--middle-blue);
  color: var(--dark-blue);
}

header h1 {
  color: var(--clear-blue);
}

header h2, header h3, header h4, header h5, header h6 {
  color: var(--dark-blue);
}

#language-buttons {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 1em;
  right: 1em;
}

#language-buttons button {
  border-top: thick solid var(--clear-blue);
  border-right: medium solid var(--clear-blue);
  border-bottom: thick solid var(--clear-blue);
  border-left: medium solid var(--clear-blue);
  transition-duration: 0.4s;
  float: left;
}

.language-button {
  color: var(--clear-blue);
  background-color: var(--middle-blue);
}

.language-button:hover {
  background-color: hsla(0,0%, 81.2%, .25);
}

.language-button-selected {
  color: var(--dark-blue);
  background-color: var(--clear-blue);
}

.language-button-selected:hover {
  background-color:  var(--clear-dark-blue);
}

#language-buttons button:first-child {
  border-radius: .5em 0 0 .5em;
  border-left: thick solid var(--clear-blue);
}

#language-buttons button:last-child {
  border-radius: 0 .5em .5em 0;
  border-right: thick solid var(--clear-blue);
}

/* 
#language-toggle {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: .25em 0 .25em 0;
  border: thick solid var(--clear-blue);
  border-radius: .5em;
  width: min-content;
  position: absolute;
  top: 1em;
  right: 1em;
}

#language-toggle a {
  color: var(--clear-blue);
  text-decoration-line: none;
  padding: .5em;
}

#language-toggle a:hover {
  background-color: hsla(0,0%, 81.2%, .25);
}

#language-toggle a:first-child {
  border-right: medium solid var(--clear-blue);
  background-color: var(--clear-blue);
  color: var(--dark-blue);
}

#language-toggle a:first-child:hover {
  background-color: var(--clear-dark-blue);
  // background-color: hsla(0,0%, 81.2%, .25);
}

#language-toggle a:last-child {
  border-left: medium solid var(--clear-blue);
  // background-color: var(--dark-dark-blue);
} */

main {
  padding-left: 2em;
}
