:root {
  --clear-blue: #EFF9F2;
  --clear-dark-blue: rgb(200, 211, 204);
  --middle-blue: #739AB3;
  --middle-dark-blue: rgb(93, 125, 145);
  --dark-blue: #2F2F3A;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--clear-blue);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: var(--middle-blue);
}

#upper {
  display: flex;
  flex-direction: row;
}

aside, header {
  text-align: center;
}

aside {
  background-color: var(--dark-blue);
  color: white;
  max-width: 416px;
}

#profile-picture {
  border-radius: 208px;
  width: 80%;
  margin-top: 2em;
}

.competence {
  padding: 0em 2em 0em 2em;
}

#contact-icons {
  display: flex;
  flex-wrap: wrap;
}

#contact-icons * {
  margin: auto;
  width: 50%;
  transition: 200ms;
}

#contact-icons a:hover {
  translate: -10px 10px;
}

#header_main {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--middle-blue);
  color: var(--dark-blue);
}

header h1 {
  color: var(--clear-blue);
}

header h2, header h3, header h4, header h5, header h6 {
  color: var(--dark-blue);
}

main {
  padding-left: 2em;
}
